<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLeEJ5Vua_mXjGBofVPbCEgVxVZ_JY5I4</string>
	<key>GCM_SENDER_ID</key>
	<string>136653308352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bomamessenger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-236de</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-236de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136653308352:ios:a0eccac3bd58eb506bc825</string>
</dict>
</plist>